<ion-content>
  <div class="login-container">
    <div class="brand">
      <img src="assets/mascot/mascot.png" alt="Critaceous mascot" class="mascot" />
      <h1 class="app-name">Critaceous</h1>
    </div>

    <div class="form">
      <ion-item>
        <!-- label-placement fixes floating animation -->
        <ion-input label="Email" label-placement="floating" type="email" [(ngModel)]="email" autocomplete="email" />
      </ion-item>

      <ion-item>
        <ion-input label="Password" label-placement="floating" type="password" [(ngModel)]="password"
          autocomplete="current-password" [clearOnEdit]="false" />
      </ion-item>

      <p *ngIf="error" class="error">{{ error }}</p>

      <ion-button expand="block" (click)="onLogin()" [disabled]="loading">
        <ion-spinner *ngIf="loading" name="crescent" />
        <span *ngIf="!loading">Log In</span>
      </ion-button>

      <ion-button expand="block" fill="clear" (click)="goToRegister()">
        Don't have an account? Register
      </ion-button>
    </div>
  </div>
</ion-content>