<ion-header>
  <ion-toolbar>
    <ion-title>Explore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Search bar -->
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="applyFilters()" placeholder="Search movies..." debounce="300" />

  <!-- Filters row -->
  <div class="filters">
    <ion-select [(ngModel)]="selectedGenre" (ionChange)="applyFilters()" placeholder="Genre" interface="popover">
      <ion-select-option value="">All Genres</ion-select-option>
      <ion-select-option *ngFor="let g of genres" [value]="g">{{ g }}</ion-select-option>
    </ion-select>

    <ion-select [(ngModel)]="sortBy" (ionChange)="applyFilters()" placeholder="Sort by" interface="popover">
      <ion-select-option value="popularity">Popularity</ion-select-option>
      <ion-select-option value="userRating">User Rating</ion-select-option>
      <ion-select-option value="criticRating">Critic Rating</ion-select-option>
      <ion-select-option value="releaseDate">Release Date</ion-select-option>
    </ion-select>

    <!-- User rating filter -->
    <ion-select [(ngModel)]="minUserRating" (ionChange)="applyFilters()" placeholder="User Rating" interface="popover">
      <ion-select-option [value]="0">Any User Rating</ion-select-option>
      <ion-select-option [value]="1">1+</ion-select-option>
      <ion-select-option [value]="2">2+</ion-select-option>
      <ion-select-option [value]="3">3+</ion-select-option>
      <ion-select-option [value]="4">4+</ion-select-option>
      <ion-select-option [value]="5">5+</ion-select-option>
      <ion-select-option [value]="6">6+</ion-select-option>
      <ion-select-option [value]="7">7+</ion-select-option>
      <ion-select-option [value]="8">8+</ion-select-option>
      <ion-select-option [value]="9">9+</ion-select-option>
    </ion-select>

    <!-- Critic rating filter -->
    <ion-select [(ngModel)]="minCriticRating" (ionChange)="applyFilters()" placeholder="Critic Rating"
      interface="popover">
      <ion-select-option [value]="0">Any Critic Rating</ion-select-option>
      <ion-select-option [value]="1">1+</ion-select-option>
      <ion-select-option [value]="2">2+</ion-select-option>
      <ion-select-option [value]="3">3+</ion-select-option>
      <ion-select-option [value]="4">4+</ion-select-option>
      <ion-select-option [value]="5">5+</ion-select-option>
      <ion-select-option [value]="6">6+</ion-select-option>
      <ion-select-option [value]="7">7+</ion-select-option>
      <ion-select-option [value]="8">8+</ion-select-option>
      <ion-select-option [value]="9">9+</ion-select-option>
    </ion-select>
  </div>

  <!-- Results -->
  <div class="results">
    <p *ngIf="filtered.length === 0" class="no-results">No movies found.</p>

    <ion-card *ngFor="let movie of filtered" class="movie-card" (click)="goToDetail(movie.id)">
      <div class="card-inner">
        <img [src]="movie.poster" [alt]="movie.title" class="movie-poster" />
        <div class="movie-info">
          <h3 class="movie-title">{{ movie.title }}</h3>
          <p class="movie-date">{{ movie.releaseDate | date:'yyyy' }}</p>
          <div class="genres">
            <ion-badge *ngFor="let g of movie.genres" color="medium">{{ g }}</ion-badge>
          </div>
          <div class="ratings">
            <app-rating-badge [rating]="movie.userRating" label="Users" />
            <app-rating-badge [rating]="movie.criticRating" label="Critics" />
          </div>
        </div>
      </div>
    </ion-card>
  </div>

</ion-content>