<ion-content>
  <div class="register-container">

    <div class="brand">
      <img src="assets/mascot/mascot.png" alt="Critaceous mascot" class="mascot" />
      <h1 class="app-name">Create Account</h1>
    </div>

    <div class="form">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="name" />
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" />
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" />
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword" />
      </ion-item>

      <ion-button expand="block" (click)="onRegister()">
        Register
      </ion-button>

      <ion-button expand="block" fill="clear" (click)="goToLogin()">
        Already have an account? Log In
      </ion-button>
    </div>

  </div>
</ion-content>