<ion-content>
  <div class="register-container">
    <div class="brand">
      <img src="assets/mascot/mascot.png" alt="Critaceous mascot" class="mascot" />
      <h1 class="app-name">Create Account</h1>
    </div>

    <div class="form">
      <ion-item>
        <ion-input label="Name" label-placement="floating" type="text" [(ngModel)]="name" autocomplete="name" />
      </ion-item>

      <ion-item>
        <ion-input label="Email" label-placement="floating" type="email" [(ngModel)]="email" autocomplete="email" />
      </ion-item>

      <ion-item>
        <ion-input label="Password" label-placement="floating" type="password" [(ngModel)]="password"
          autocomplete="new-password" [clearOnEdit]="false" />
      </ion-item>

      <ion-item>
        <ion-input label="Confirm Password" label-placement="floating" type="password" [(ngModel)]="confirmPassword"
          autocomplete="new-password" [clearOnEdit]="false" />
      </ion-item>

      <p *ngIf="error" class="error">{{ error }}</p>

      <ion-button expand="block" (click)="onRegister()" [disabled]="loading">
        <ion-spinner *ngIf="loading" name="crescent" />
        <span *ngIf="!loading">Register</span>
      </ion-button>

      <ion-button expand="block" fill="clear" (click)="goToLogin()">
        Already have an account? Log In
      </ion-button>
    </div>
  </div>
</ion-content>