<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="section-label">Preferences</p>
  <ion-card class="settings-card">
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>Default Sort</ion-label>
        <ion-select [(ngModel)]="defaultSort" (ionChange)="onSortChange()" interface="popover" slot="end">
          <ion-select-option value="popularity">Popularity</ion-select-option>
          <ion-select-option value="userRating">User Rating</ion-select-option>
          <ion-select-option value="criticRating">Critic Rating</ion-select-option>
          <ion-select-option value="releaseDate">Release Date</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <p class="section-label danger">Danger Zone</p>
  <ion-card class="settings-card danger-card">
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>
          <h3>Delete Account</h3>
          <p>This action is permanent and cannot be undone</p>
        </ion-label>
      </ion-item>
      <ion-button expand="block" color="danger" (click)="showDeleteAlert = true">
        Delete My Account
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-alert
    [isOpen]="showDeleteAlert"
    header="Delete Account"
    message="Are you sure? All your comments and data will be permanently deleted."
    [buttons]="alertButtons"
    (didDismiss)="showDeleteAlert = false" />

</ion-content>